.trainer__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 20px 25px;
    min-height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);

    .MuiButton-root.Mui-disabled {
        color: #333;
        background: rgba(0, 0, 0, 0.1);
    }

    .MuiButton-text {
        padding: 6px 6px;
        min-width: 40px;
    }
}