.trainer {
    color: #2c2c2c;

    main {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}