.constructor__questions {
    
    .filters {
        display: flex;

        & > div {
            margin-right: 20px;
        }
    }
}


.MuiPaper-rounded {
    border-radius: 2px !important;
  }
  
.MuiFormControl-root {
    margin: 0 !important;
}