.constructor__params {
    display: grid;
    // grid-template-columns: 1fr;
    grid-template-columns: 700px auto;
    margin-top: 25px;
    padding: 20px 25px;
    // min-height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);

    .about {
        width: 100%;

        .title {

            input[type=text] {
                border: none;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                letter-spacing: 0.02em;
                width: 100%;
                outline: none;
                text-transform: uppercase;
                border-bottom: 2px solid;
                border-bottom-color: transparent;
                transition: all 0.2s ease-in-out;
                
                &:focus {
                    border-bottom-color: #e0e0e0;
                }
            }
        }

        .description {
            margin-top: 9px;

            input[type=text] {
                border: none;
                font-size: 16px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #606060;
                width: 100%;
                outline: none;
                border-bottom: 2px solid;
                border-bottom-color: transparent;
                transition: all 0.2s ease-in-out;
                
                &:focus {
                    border-bottom-color: #e0e0e0;
                }
            }
        }
    }

    .color {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;

        button {
            cursor: pointer;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            border: none;
            margin-right: 10px;
            outline: none;
        }
    }
}